
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>7492WebScout</title>
        <link rel="icon" type="image/x-icon" href="static\7492favicon.ico">
        <link rel="stylesheet" href="static\style.css">
    </head>
    <body>
        <h1>Cavbots Web Scouting Portal</h1>
        <div class="megasegment" id="prematch">
            <h1>Prematch</h1>
            <div class="textentryRaw">
                <p>Scouter Initials</p>
                <input type="text" id="initials" placeholder="e.g. AB">
            </div>
            <div class="textentryRaw">
                <p>Team Number</p>
                <input type="text" id="teamNumber" placeholder="0000">
            </div>
            <div class="textentryRaw">
                <p>Match Number</p>
                <input type="text" id="matchNumber" placeholder="0">
            </div>
        </div>
        <div class="megasegment" id="autonomous">
            <h1>Autonomous</h1>
            <div class="textentry">
                <p>L1</p>
                <button id="autoL1ButtonMinus">-</button>
                <input type="text" id="autoL1" value="0">
                <button id="autoL1ButtonPlus">+</button>
            </div>
            <div class="textentry">
                <p>L2</p>
                <button id="autoL2ButtonMinus">-</button>
                <input type="text" id="autoL2" value="0">
                <button id="autoL2ButtonPlus">+</button>
            </div>
            <div class="textentry">
                <p>L3</p>
                <button id="autoL3ButtonMinus">-</button>
                <input type="text" id="autoL3" value="0">
                <button id="autoL3ButtonPlus">+</button>
            </div>
            <div class="textentry">
                <p>L4</p>
                <button id="autoL4ButtonMinus">-</button>
                <input type="text" id="autoL4" value="0">
                <button id="autoL4ButtonPlus">+</button>
            </div>
            <div class="textentry">
                <p>Processor Algae</p>
                <button id="autoProcessorMinus">-</button>
                <input type="text" id="autoProcessor" value="0">
                <button id="autoProcessorPlus">+</button>
            </div>
            <div class="textentry">
                <p>Barge Algae</p>
                <button id="autoBargeMinus">-</button>
                <input type="text" id="autoBarge" value="0">
                <button id="autoBargePlus">+</button>
            </div>
        </div>
        <div class="megasegment" id="teleop">
            <h1>Teleop</h1>
            <div class="textentry">
                <p>L1</p>
                <button id="teleL1ButtonMinus">-</button>
                <input type="text" id="teleL1" value="0">
                <button id="teleL1ButtonPlus">+</button>
            </div>
            <div class="textentry">
                <p>L2</p>
                <button id="teleL2ButtonMinus">-</button>
                <input type="text" id="teleL2" value="0">
                <button id="teleL2ButtonPlus">+</button>
            </div>
            <div class="textentry">
                <p>L3</p>
                <button id="teleL3ButtonMinus">-</button>
                <input type="text" id="teleL3" value="0">
                <button id="teleL3ButtonPlus">+</button>
            </div>
            <div class="textentry">
                <p>L4</p>
                <button id="teleL4ButtonMinus">-</button>
                <input type="text" id="teleL4" value="0">
                <button id="teleL4ButtonPlus">+</button>
            </div>
            <div class="textentry">
                <p>Processor Algae</p>
                <button id="teleProcessorMinus">-</button>
                <input type="text" id="teleProcessor" value="0">
                <button id="teleProcessorPlus">+</button>
            </div>
            <div class="textentry">
                <p>Barge Algae</p>
                <button id="teleBargeMinus">-</button>
                <input type="text" id="teleBarge" value="0">
                <button id="teleBargePlus">+</button>
            </div>
        </div>
        <div class="megasegment" id="endgame">
            <h1>Endgame</h1>
            <div class="boolentry">
                <p>Deep Climb</p>
                <label class="switch">
                    <input type="checkbox" class="switchInput" id="deepClimb">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="boolentry">
                <p>Shallow Climb</p>
                <label class="switch">
                    <input type="checkbox" class="switchInput" id="shallowClimb">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="boolentry">
                <p>Park</p>
                <label class="switch">
                    <input type="checkbox" class="switchInput" id="park">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="boolentry">
                <p>Dead Robot</p>
                <label class="switch">
                    <input type="checkbox" class="switchInput" id="deadRobot">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
        <button type="button" id="submitButton" class="submitButton">Submit</button>
        <a href="http://127.0.0.1:5000/getData">Download data</a>
        <script src="static\main.js"></script>
    </body>
</html>